body{
    background-color: rgb(179, 179, 179);
    font-family: 'Inconsolata', monospace;
}
form{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 36px;
    background-color: white;
    width: 30%;
    margin: auto;
    text-align: center;
    padding: 24px;
    border-radius: 24px;
}
#exampleInputEmail, .form-control{
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 4px;
    background-color: rgb(219, 219, 219);
}
.btn-primary{
    width: 124px;
    padding: 8px;
    border-radius: 6px;
    margin: auto;
    outline: none;
    border: none;
    font-weight: bold;
    background-color: rgb(69, 182, 235);
    color: white;
}